@model YunCBlog.MVCData.Areas.Admin.Models.UserViewModels.UserLoginViewModel
@{
    Layout = null;
    ViewBag.title = "登录";
}
<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    @Styles.Render("~/AdminLogin/css")
    @Scripts.Render("~/adminjs/loginjs")
</head>
<body class="login-bg">
    <div class="login layui-anim">
        <div class="message">@ViewBag.title</div>
        <div id="darkbannerwrap"></div>
        @Html.ValidationSummary(true, "", new { @class = "x-red" })
        @using (Html.BeginForm("UserLogin", "Admin", FormMethod.Post, htmlAttributes: new { @class = "layui-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "layui-input", @placeholder = "用户名",@autocomplete="off" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "x-red" })
            @*<input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">*@
            <hr class="hr15">
            @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "layui-input", @placeholder = "密码"} })
            @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "x-red"})
            @*<input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">*@
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20">
        }
    </div>
</body>
</html>
