@model IEnumerable<YunCBlog.Dto.PubModuleDto>

@{
    ViewBag.Title = "ModuleList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>ModuleList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModuleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
