@model List<YunCBlog.MVCData.Areas.Admin.Models.ArticleViewModels.ArticleViewModel>

@if (Model != null && Model.Count == 5)
{
    <!--banner begin-->
    <div class="picsbox">
        <div class="banner">
            <div id="banner" class="fader">
                <ul>
                    @foreach (var item in Model.Take(3))
                    {

                        <li class="slide">
                            <a href="@Url.Action("Content", new { id = item.ArticleId })">
                                <img src="@Html.Action("GetFilePath", "AttachMent", new { fileName = item.CoverName })"><span class="imginfo">@item.Title</span>
                            </a>
                        </li>
                    }
                </ul>
                <div class="fader_controls">
                    <div class="page prev" data-target="prev">&lsaquo;</div>
                    <div class="page next" data-target="next">&rsaquo;</div>
                    <ul class="pager_list"></ul>
                </div>
            </div>
        </div>
        <div class="toppic">
            <ul>
                @{
                    var right = Model.Skip(3).Take(2);
                    if (right != null)
                    {
                        foreach (var item in right)
                        {
                            <li>
                                <a href="@Url.Action("Content",new { id=item.ArticleId})">
                                    <i><img src="@Html.Action("GetFilePath","AttachMent",new { fileName=item.CoverName})"></i>
                                    <h2>@item.Title</h2>
                                    <span>@item.ArticleModuleName</span>
                                </a>
                            </li>
                        }
                    }

                }
            </ul>
        </div>
    </div>
    <div class="blank"></div>
    <!--banner end-->
}
