@model YunCBlog.MVCData.Areas.Admin.Models.ArticleViewModels.ArticleViewModel

<article>
    <h1 class="t_nav"><span>您现在的位置是：首页 > @Model.ArticleModuleName</span><a href="/" class="n1">网站首页</a><a href="@Url.Action("Content", new { id = Model.ArticleId })" class="n2">@ViewBag.ModelName</a></h1>
    <div class="infosbox">
        <div class="newsview">
            <h3 class="news_title">@Model.Title</h3>
            <div class="bloginfo">
                <ul>
                    <li class="author"><a href="/"></a></li>
                    <li class="lmname"><a href="@Url.Action("Content", new { id = Model.ArticleId })">@Model.ArticleModuleName</a></li>
                    <li class="timer">@string.Format("{0:yyyy-MM-dd HH:ss:mm}", Model.CreateTime)</li>
                    <li class="view">@Model.ReadCount 已阅读</li>
                    <li class="like">@Model.LikeCount</li>
                </ul>
            </div>
            @*<div class="tags"><a href="javascript:void(0);">个人博客</a> &nbsp; <a href="javascript:void(0);" >小世界</a></div>*@
            @if (!string.IsNullOrEmpty(Model.Theme))
            {
                <div class="news_about">
                    <strong>简介</strong>
                    @Html.Raw(Model.Theme)
                </div>
            }
            <div class="news_con">
                @Html.Raw(Model.HtmlContent)
            </div>
            <div class="share">
                <p class="diggit" style="margin-left:35%;">
                    <a href="JavaScript:void(0);" data-articleid=@Model.ArticleId  id="like"> 很赞哦！ </a>(<b id="diggnum">
                        @Model.LikeCount
                    </b>)
                </p>
                <script type="text/javascript">
                    $(function () {
                        $("#like").click(function () {
                            $.ajax({
                                url: "/Home/SetLike/" + $(this).attr("data-articleid"), async: true, context: $("#like"), dataType: "text", type: "GET", success: function () {
                                    $("#diggnum").text(parseInt($("#diggnum").text()) + 1);
                                }
                            });
                        });
                    });

                </script>
            </div>
            @*<div class="nextinfo">
                    <p>上一篇：<a href="/news/life/2018-03-13/804.html">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
                    <p>下一篇：<a href="/news/life/">返回列表</a></p>
                </div>*@
            @*<div class="otherlink">
                    <h2>相关文章</h2>
                    <ul>
                        <li><a href="/download/div/2018-04-22/815.html" title="html5个人博客模板《黑色格调》">html5个人博客模板《黑色格调》</a></li>
                        <li><a href="/download/div/2018-04-18/814.html" title="html5个人博客模板主题《清雅》">html5个人博客模板主题《清雅》</a></li>
                        <li><a href="/download/div/2018-03-18/807.html" title="html5个人博客模板主题《绅士》">html5个人博客模板主题《绅士》</a></li>
                        <li><a href="/download/div/2018-02-22/798.html" title="html5时尚个人博客模板-技术门户型">html5时尚个人博客模板-技术门户型</a></li>
                        <li><a href="/download/div/2017-09-08/789.html" title="html5个人博客模板主题《心蓝时间轴》">html5个人博客模板主题《心蓝时间轴》</a></li>
                        <li><a href="/download/div/2017-07-16/785.html" title="古典个人博客模板《江南墨卷》">古典个人博客模板《江南墨卷》</a></li>
                        <li><a href="/download/div/2017-07-13/783.html" title="古典风格-个人博客模板">古典风格-个人博客模板</a></li>
                        <li><a href="/download/div/2015-06-28/748.html" title="个人博客《草根寻梦》—手机版模板">个人博客《草根寻梦》—手机版模板</a></li>
                        <li><a href="/download/div/2015-04-10/746.html" title="【活动作品】柠檬绿兔小白个人博客模板">【活动作品】柠檬绿兔小白个人博客模板</a></li>
                        <li><a href="/jstt/bj/2015-01-09/740.html" title="【匆匆那些年】总结个人博客经历的这四年…">【匆匆那些年】总结个人博客经历的这四年…</a></li>
                    </ul>
                </div>
                <div class="news_pl">
                    <h2>文章评论</h2>
                    <ul>
                        <div class="gbko"> </div>
                    </ul>
                </div>*@
            <div class="news_pl">
                <h2>文章评论</h2>
                <ul>
                    <div class="gbko"> </div>
                </ul>
                @*@{Html.RenderAction("Comment");}*@
            </div>
        </div>
    </div>
    <!-- 侧边栏 -->
    @{Html.RenderAction("_Sidebar");}
</article>