@model List<YunCBlog.MVCData.Areas.Admin.Models.ArticleViewModels.ArticleViewModel>
<article>
    <!-- banner -->
    @Html.Partial("_Banner")
    <div class="blogsbox">
        @foreach (var item in Model)
        {
            <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                <h3 class="blogtitle">@Html.ActionLink(item.Title, "Content", new { id = item.ArticleId })</h3>
                @if (!string.IsNullOrEmpty(item.CoverName))
                {
                    <span class="blogpic">
                        <a href="@Url.Action("Content",new { id = item.ArticleId })" title="">
                            <img src="@Html.Action("GetFilePath","AttachMent",new { fileName=item.CoverName})" alt="">
                        </a>
                    </span>
                }
                <p class="blogtext">@(item.Theme == null ? item.TextContent.Substring(0, 30) : item.Theme) ...</p>
                <div class="bloginfo">
                    <ul>
                        <li class="author"><a href="/">梦中的Aoede</a></li>
                        <li class="lmname"><a href="/">学无止境</a></li>
                        <li class="timer">@string.Format("{0:yyyy-MM-dd HH:ss:mm}", item.CreateTime)</li>
                        <li class="view">@item.ReadCount 已阅读</li>
                        <li class="like">@item.LikeCount</li>
                    </ul>
                </div>
            </div>
        }
    </div>
    <!-- 侧边栏 -->
    @Html.Partial("_Sidebar")
</article>