<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>梦中的Aoede的博客 - 一个单纯的，渴望技术的小小程序员</title>
    <!-- style样式 -->
    <link href="~/plugins/editor_md/css/editormd.preview.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <!-- javascript -->
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Css", false) <!--子页面需要的css将在此插入-->
    @RenderSection("Js", false) <!--子页面需要的js将在此插入-->
</head>
<body>
    <!-- header -->
    @{Html.RenderAction("_Header", "Home");}
    <!-- content -->
    @RenderBody()
    <!-- footer -->
    @Html.Partial("_Footer")
    <a href="#" class="cd-top">Top</a>
</body>
</html>
